.landing-page-container {
    display: flex;
    justify-content: space-between; /* Space between the main elements */
    align-items: flex-start; /* Align items to the top */
    height: calc(100vh - 60px); /* Adjusted for a navbar height */
    margin-top: 60px; /* Space for the navbar */
    position: relative; /* Needed for absolute positioning of pillars */
    overflow-x: hidden; /* Prevents horizontal scroll if pillars are wide */
  }
  
  .pillar {
    position: absolute; /* Absolute positioning */
    bottom: 0; 
    top: 60px; 
    z-index: -1;
  }
  
  .left-pillar {
    left: 0;
  }
  
  .right-pillar {
    right: 0;
  }
  
  .left-pillar img, .right-pillar img {
    height: 100%;
    object-fit: cover; 
  }
  
  .topic-of-the-day-container {
    width: 60%; 
    text-align: center;
    margin: 0 auto;
  }
  
  .comments-preview {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    gap: 15px; 
  }
  
  .comment {
    background-color: #fce4ec;
    padding: 30px;
    border-radius: 5px;
    max-width: calc(33.333% - 20px); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  }
  
  .comment-username {
    font-weight: bold;
  }
  
  .see-all-comments {
    display: block;
    margin-top: 20px;
    color: #8b0000;
    text-decoration: none;
    align-self: center; 
    z-index: true; 
  }

  .topcs {
    text-decoration: none;
  }
  
  
  @media (max-width: 768px) {
    .pillar {
      display: none; 
    }
  
    .topic-of-the-day-container {
      width: 100%;
    }
  
    .comment {
      max-width: 100%; 
    }
  }
  